{% if msg %}
<script>
    alert('{{ msg }}');
</script>
{% endif %}

{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<!-- course-achievements40:10  -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<title>Dashboard</title>

<link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/A.settings.css.pagespeed.cf.xeOyGChsgq.css' %}" media="screen"/>
<link rel="stylesheet" type="text/css" href="{% static 'A.fonts%2c%2c_font-awesome-4.3.0%2c%2c_css%2c%2c_font-awesome.min.css%2bcss%2c%2c_bootstrap.css%2bcss%2c%2c_animate.css%2cMcc.kSNwpaaMDX.css.pagespeed.cf.w2G3xGgFf0.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/A.menu.css.pagespeed.cf.0_hLwXzYkZ.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/A.carousel.css.pagespeed.cf.VktteGiLwl.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css+bbpress.css.pagespeed.cc.aXsJ7_Y__m.css' %}"/>
<!-- <link rel="stylesheet" type="text/css" href="css/A.carousel.css%2bbbpress.css%2cMcc.aXsJ7_Y__m.css.pagespeed.cf.ERce4VkS3l.css"/> -->
<link rel="stylesheet" type="text/css" href="{% static 'A.style.css%2bcss%2c%2c_custom.css%2cMcc.HvWh1qoob-.css.pagespeed.cf.pWH5huNcWh.css' %}"/>
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bbPress">
<div id="loader">
<div class="loader-container">
<img src="images/site.gif" alt="" class="loader-site">
</div>
</div>
<div id="wrapper">
<div class="topbar">
<div class="container">
<div class="row">
<div class="col-md-6 text-left">
<p><i class="fa fa-graduation-cap"></i> An Adaptive Learning System for English Writing</p>
</div>
<div class="col-md-6 text-right">
    <ul class="list-inline">
      <li class="dropdown">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-lock"></i>My Profile</a>
      <div class="dropdown-menu">
      <h4>Progress Level: Beginner</h4>
      <br>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 36%;">
        </div>
        </div>
      </div>
  
      </li>
      </ul>
  </div>
</li>
</ul>
</div>
</div>
</div>
</div>
<header class="header">
<div class="container">
<div class="hovermenu ttmenu">
<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="fa fa-bars"></span>
</button>
<div class="logo">
<a class="navbar-brand" href=""><img style="width:auto; height:80%; object-fit:contain;" src="{static % 'images/literalogo4.png' %}" alt=""></a>
</div>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li><a href="">Home</a></li>
<li><a href="{% url 'topics' %}">Topics</a></li>
<li class="dropdown ttmenu-half"><a href="" data-toggle="dropdown" class="dropdown-toggle">Resources <b class="fa fa-angle-down"></b></a>
<ul class="dropdown-menu">
<li>
<div class="ttmenu-content">
<div class="row">
<div class="col-md-6">
<div class="box">
<ul>
<li><a href="">Spelling</a></li>
<li><a href="">Grammar</a></li>
<li><a href="">News</a></li>
<li><a href="">Topical Resources</a></li>
</ul>
</div>
</div>
</div>
</div>
</li>
</ul>
</li>
<li>
<li>
<li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a class="btn btn-primary" href="{% url 'logout' %}"><i class="fa fa-sign-in"></i>Logout</a></li>
</ul>
</div>
</div>
</div>
</div>
</header>
<section class="grey page-title">
<div class="container">
<div class="row">
<div class="col-md-6 text-left">
<h1>Dashboard</h1>
</div>
</ol>
</div>
</div>
</div>
</div>
</section>
<section class="white section">
<div class="container">
<div class="row">
<div id="course-left-sidebar" class="col-md-3">
<div class="course-image-widget">
<img src="upload/xstudent_05.png.pagespeed.ic.moTx3bMNF3.png" alt="" class="img-responsive">
</div>
<div class="course-meta">
<p>JOHN DEO</p>
<hr>
<p>My Profile <small><a href="">Edit</a></small></p>
<!-- <hr>
<p>My Courses <small class="label label-primary">12</small></p> -->
<hr>
<p>Achievements <small class="label label-primary"><a href="">5</a></small></p>
<hr>
<p>Messages <small class="label label-primary"><a href="">0</a></small></p>
<hr>
<p>My Friends <small class="label label-primary"><a href="">31</a></small></p>
</div>
</div>
<div id="course-content" class="col-md-9">
<div class="course-description">
<h3 class="course-title">Welcome Back, John!</h3>
<p>Browse the table below to see your past submissions for essay practice, or scroll down for some recommended resources! <a href=""></a></p>
<!-- <div class="row"> -->
<div class="col-md-9">
<div id="bbpress-forums">
<ul class="bbp-forums">
<li class="bbp-header">
<ul class="forum-titles">
<li class="bbp-forum-info">Essay Question</li>
<li class="bbp-forum-topic-count">Topic</li>
<li class="bbp-forum-reply-count"></li>
<li class="bbp-forum-freshness" style="padding-left: 10%;">Score</li>
<!-- <li class="bbp-forum-freshness">Time Taken</li> -->
</ul>
</li>
<li class="bbp-body">
<ul class="forum type-forum">
<li class="bbp-forum-info">
<!-- <img src="upload/xstudent_01.png.pagespeed.ic.756JwMcqdq.png" alt="" class="alignleft img-thumbnail"> -->
<a class="bbp-forum-title" href="{% url 'essay' %}" title="General">How far should religion influence political decisions ?</a>
<!-- <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div> -->
</li>
<li class="bbp-forum-topic-count"><a href="">Politics</a></li>
<li class="bbp-forum-reply-count"><a href="">4/10</a></li>
<li class="bbp-forum-freshness">
<!--<a href="" title="Reply To: Please NOTIFY YOUR CUSTOMERS of UPDATES">20-09-2020</a> -->
<p class="bbp-topic-meta">
<span class="bbp-topic-freshness-author">
<a href="" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
<!-- <img alt="" src="upload/xstudent_02.png.pagespeed.ic.y-PM-y4pVj.png" class="avatar"> -->
</a>&nbsp;
<!-- <li class="bbp-author-name">50 minutes 7 seconds</li> -->
<!-- <a href="" title="View admin profile" class="bbp-author-name" rel="nofollow">50 minutes 7 seconds</a> -->
</span>
</p>
</li>
</ul>
</li>
<li class="bbp-body">
<ul class="forum type-forum">
<li class="bbp-forum-info">
<!-- <img src="upload/xstudent_02.png.pagespeed.ic.y-PM-y4pVj.png" alt="" class="alignleft img-thumbnail"> -->
<a class="bbp-forum-title" href="" title="General">This is an example essay question.</a>
<!-- <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div> -->
</li>
<li class="bbp-forum-topic-count"><a href="">Education</a></li>
<li class="bbp-forum-reply-count"><a href="">3/10</a></li>
<li class="bbp-forum-freshness">
<p class="bbp-topic-meta">
<span class="bbp-topic-freshness-author">
<a href="" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
<!-- <img alt="" src="upload/xstudent_05.png.pagespeed.ic.moTx3bMNF3.png" class="avatar"> -->
</span>
</p>
</li>
</ul>
</li>
<li class="bbp-body">
<ul class="forum type-forum">
<li class="bbp-forum-info">
<!-- <img src="upload/xstudent_03.png.pagespeed.ic.uCQY3WNMCJ.png" alt="" class="alignleft img-thumbnail"> -->
<a class="bbp-forum-title" href="" title="General">This is an example essay question.</a>
<!-- <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div> -->
</li>
<li class="bbp-forum-topic-count"><a href="">Technology</a></li>
<li class="bbp-forum-reply-count"><a href="">6/10</a></li>
<li class="bbp-forum-freshness">
<p class="bbp-topic-meta">
<span class="bbp-topic-freshness-author">
<a href="" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
<!-- <img alt="" src="upload/xstudent_05.png.pagespeed.ic.moTx3bMNF3.png" class="avatar"> -->
</span>
</p>
</li>
</ul>
</li>

</div>
</div>
</div>
</div>


<script src="{% static 'js/jquery.min.js.pagespeed.jm.iDyG3vc4gw.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js%2bretina.js%2bwow.js.pagespeed.jc.pMrMbVAe_E.js' %}"></script><script>eval(mod_pagespeed_gFRwwUbyVc);</script>
<script>eval(mod_pagespeed_rQwXk4AOUN);</script>
<script>eval(mod_pagespeed_U0OPgGhapl);</script>
<script src="{% static 'js/carousel.js%2bcustom.js.pagespeed.jc.nVhk-UfDsv.js' %}"></script><script>eval(mod_pagespeed_6Ja02QZq$f);</script>
<script>eval(mod_pagespeed_KxQMf5X6rF);</script>
</body>

<!-- course-achievements40:15  -->
</html>